@model IEnumerable<ShoppingWebSite.ProductTable>

@{
    ViewBag.Title = "Index";
}

@section Scripts
{
    <script src="~/Scripts/jquery-1.10.2.js"></script>
}

<h2> &nbsp;  BUY NOW!! LIMITED STOCK!!</h2>

<div class="container" id="scr">
    <div class="well well-sm">
        <strong>Category Title</strong>
        <div class="btn-group">

            <a href="#" id="grid" class="btn btn-default btn-sm">
                <span class="glyphicon glyphicon-th"></span> Grid
            </a>
            
</div>
        <a href="#" style="align-self:flex-end" class="btn btn-default btn-sm" onclick="location.href='@Url.Action("Index", "Cart")'">Checkout The Cart</a>
    </div>

    @foreach (var item in Model)
    {
        <div class="item  col-xs-4 col-lg-4">
            <div class="thumbnail">

                <img class="group list-group-image" src="/images/@(item.imagesrc)" alt="" />
                <div class="caption">
                    <h4 class="group inner list-group-item-heading">
                        @Html.DisplayFor(modelItem => item.Name)
                    </h4>
                    <p class="group inner list-group-item-text">
                        InStock: @Html.DisplayFor(modelItem => item.QuantityAvail)
                        <br />
                        Category: @Html.DisplayFor(modelItem => item.Category)
                    </p>
                    <div class="row">
                        <div class="col-xs-12 col-md-6">
                            <p class="lead">
                                Price: $@Html.DisplayFor(modelItem => item.Price)
                            </p>
                        </div>
                        <div class="col-xs-12 col-md-6">
                            <input type="submit" href="#" onclick="location.href='@Url.Action("Index", "Cart",new {id = item.Id})'" value="Add to Cart" class="btn btn-success" />

                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>